body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

    .main h2 {
        color: #0098c6;
        margin-bottom: 20px;
    }

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(198, 198, 198);
    background-color: rgb(244, 244, 244);
}

.btns {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-btn {
    display: block;
    font-family: Trebuchet MS, sans-serif;
    width: 180px;
    border-style: none;
    font-size: 20px;
    background-color: #80dcec;
    border-radius: 30px;
    padding: 15px;
}

.register-btn {
    display: block;
    font-family: Trebuchet MS, sans-serif;
    width: 220px;
    border-style: none;
    font-size: 20px;
    background-color: #80dcec;
    border-radius: 30px;
    padding: 15px;
}

.link-guest {
    color: darkblue;
    text-decoration: none;
}

.log-reg{
    display: flex;
}

.log {
    cursor: pointer;
}

.reg {
    margin-left: 20px;
    cursor: pointer;
}

.log-reg .active {
}

.log-reg .inactive {
    color: gray;
}

#form-login, #form-register {
    display: none;
    margin-top: 20px;
}
